@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home-container-1 {
  min-height: 100vh;
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0% auto;
}

.home-container-2 {
  max-width: 1100px;
  width: calc(100% - 164px);
  padding: 24px;
  box-sizing: border-box;
}
.open-chatbot {
  position: sticky;
  bottom: 5%;
  left: 85%;
  background-color: #ef8236;
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
}
.open-chatbot:hover {
  background-color: #ef83369a;
}
@media screen and (max-width: 760px) {
  .home-container-2 {
    max-width: 100%;
    width: 100%;
  }
}
